<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
  <% include ./partials/_header %>
      <h2>Transformed URLs:</h2>

      <ul style="list-style-type:circle">
      <% for (var key in urls) { %>
      <li><%= key + " ➟ " %>
        <a href="<%= urls[key] %>"><%= urls[key] %></a>

        <button><a href="/urls/<%= key %>">Edit</button></a>

        <form style="display: inline-block" method="POST" action="/urls/<%= key %>/delete">

        <button type="submit" value="remove" name="delete">✘</button>

      </form>


    </li>

      <p>

      <% } %>

      <button><a href="/urls/new">Create New URL</a></button>

      </p>
    </ul>
    </p>
</body>
</html>